body, html {
  margin: 0;
  font-family: -apple-system,"SF Pro Text",BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 14px;
  background-color: #EDEDED;
}